@{
    ViewData["Title"] = "Home Page";
}


<body ng-app="NgApp">
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div id="ts-example">
    <br />
    <button type="button" class="btn btn-primary btn-md" onclick="TSButton()">
        Click Me
    </button>
</div>

    <div ng-controller="NgAppController">
    <ul ng-repeat="name in names">
        <li>{{name}}</li>
    </ul>

</div>



</body>

